@import './base/reset.css';
@import './components/home/buttons.css';
@import './components/home/home.css';
@import './components/home/background.css';
@import './components/game/quiz.css';
@import './components/game/progress.css';
@import './components/game/header.css';
@import './tutorial.css';

body {
    font-family: monospace;
    margin: 0;
    background-color: #ededed;
    overflow: hidden;
}



