@import './base/reset.css';
@import './components/home/buttons.css';
@import './components/home/quiz.css';
@import './components/home/background.css';
@import './components/game/title.css';
@import './components/game/progress.css';
@import './components/game/header.css';

body {
    font-family: monospace;
    font-size: 1rem;
    margin: 0;
}