.tutorial {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8e8e8;
}

.tutorial__image {
    box-shadow: #00000059 0px 5px 15px;
    max-width: 45rem;
    border-radius: 0.5rem;
}

.tutorial__item,
.tutorial__highlight {
    color: #0af;
    text-decoration: none;
    font-weight: 600;
}

.step {
    margin-top: 6rem;
}

.step__item {
    margin-top: 4rem;
    line-height: 2rem;
}

pre {
    margin-bottom: 0.5rem;
}

pre code {
    border-radius: 0.5rem;
    box-shadow: #00000059 0px 5px 15px;
    background-color: #1e1f1f;
    color: #D4D4D4;
    display: block;
    max-width: 55rem;
    max-height: 40rem;
    padding: 1rem;
    overflow-y: scroll;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5rem;
}
  
.tag {
    color: #679AD2;
}

.var {
    color: #70BFF9;
}

.attr {
    color: #AADAFA;
}

.string {
    color: #C5947C;
}

.text {
    color: #D4D4D4;
}

.comment {
    color: #74985C;
}

.selector {
    color: #D2BB85;
}

.value {
    color: #BACDAB;
}

.symbol {
    color: #CD78D4;
}