.header {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 2rem;
}

.header--game {
    position: fixed;
    top: 1.5rem;
    right: 2rem;
    margin: 0;
    z-index: 100;
}

.header__link {
    display: block;
    text-decoration: none;
}

.header__icon {
    width: 2.5rem;
    height: 2.5rem;
    transition: transform 0.2s ease;
}

.header__icon:hover {
    transform: scale(1.1);
}