:root {
    --player1-color: #4B81BD;
    --player2-color: #bd4b4b;
}

.progress {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 0 10px;
}

.progress--player1 {
    .progress__step--completed {
        background: var(--player1-color);
    }
    .progress__step--current {
        background: white;
        border: 2px solid var(--player1-color);
        transform: scale(1.2);
    }
}

.progress--player2 {
    .progress__step--completed {
        background: var(--player2-color);
    }
    .progress__step--current {
        background: white;
        border: 2px solid var(--player2-color);
        transform: scale(1.2);
    }
}

.progress::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: #ACACA6;
    z-index: 0;
}

.progress__step {
    position: relative;
    width: 25px;
    height: 25px;
    background: #fff;
    border: 2px solid #ACACA6;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: 2;
}

