.progress {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 0 10px;
}

.progress--player1 {
    .progress__div.completed {
        background: #4B81BD;
    }
    .progress__div.current {
        background: white;
        border: 2px solid #4B81BD;
        transform: scale(1.2);
    }
}

.progress--player2 {
    .progress__div.completed {
        background: #bd4b4b;
    }
    .progress__div.current {
        background: white;
        border: 2px solid #bd4b4b;
        transform: scale(1.2);
    }
}

.progress::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: #ACACA6;
    z-index: 0;
}

.progress__line {
    position: absolute;
    top: 12px;
    left: 15px;
    height: 2px;
    background-color: #4B81BD;
    z-index: 1;
    transition: width 0.3s ease;
}

.progress__div {
    position: relative;
    width: 25px;
    height: 25px;
    background: #fff;
    border: 2px solid #ACACA6;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: 2;
}

