.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 8rem;
    text-align: center;
}

.quiz__content {
    font-size: 1.5rem;
}

.quiz__question {
    font-size: 2rem;
    font-weight: 500;
}

.quiz__turn,
.quiz__answer,
.quiz__link {
    color: #434343;
    font-weight: 400;
}

.quiz__answer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.quiz__progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.quiz__player--1 {
    color: var(--player1-color)
}
.quiz__player--2 {
    color: var(--player2-color)
}